<section class="section essay has-text-black is-size-5">
  <p>
    There’s a man I know, a friend, Toros Garabaldian, and in all the years that we have known
    each other, he has always been, shall I say,
    <em>dissatisfied</em> with reality.
    When we were children, he read every volume of every fantasy novel
    he could find at the library — whether or not they were
    appropriate for his age — and this led to a period of severe
    disappointment at the lack of magic inhabiting our own world.
    Long after I moved away from the grease-stained streets of the
    neighborhood where we played, we still kept in touch, about our newest
    pursuits and fading dreams. Lately, I haven’t heard anything from him.
    The last communication I received was about a project he was excited to discuss.
  </p>
  <p>Unlike Pierre Menard’s efforts to reproduce a book that already existed,
    Toros sought to create a computer program which would produce unique texts
    in the style of Jorge Luis Borges. You know the kind: a second- or thirdhand
    tale about a man stumbling upon a supernatural mystery or an imaginary
    disagreement between two gauchos or a critic describing a book that doesn’t exist.
    Toros had named it <em>A Borgesian Contraption</em>; it was a bit pulp for my liking,
    but in his imagination, it must have sounded very Escherian, a plain and simple
    label that belied the insanity of such an invention. Toros didn’t merely want
    to reproduce the stories which Borges penned; he reasoned that if he could
    devise a machine which had the capacity to produce texts “beyond” those of a
    human’s best efforts, feelings of despair and humiliation would surely spread
    like an infectious disease. Instead, he wanted to invite the reader to collaborate
    on the text generation. He worked out a way to turn the reader from a spectator
    to a participator. In his e-mail to me — which I cannot provide here fully,
    for two reasons, the first being that it would be disrespectful to his privacy,
    and the second that Toros always insisted on writing to me in our native Armenian,
    so reproducing his message directly would be unfair to the vast majority of readers — he was
    insistent on rebuking Gérard Genette several times, specifically his viewpoints on the
    (im)possibilities of imitating text.  According to Genette, both a text and its style are
    distinct components, which can undergo processes of transformation and imitation. Both the
    text and the style of a parent hypotext can be distorted through a comedic, satirical, or
    serious transformation, resulting in a new hypertext. But Genette determined that a text
    could not be imitated in a hypertext, only its style, in three ways: by pastiche
    (for the purpose of entertainment), in caricature (for the sake of derision),
    or through forgery (for perpetuating antecedent literature). At the end of his explanation,
    Toros quoted directly from Genette: “It is impossible to imitate a text…because it is too easy,
    hence insignificant.”<sup class="footnote"><span data-tooltip="I have never read Genette, so my understanding of his theories come only from Toros’ explanations.">1</span></sup>
  </p>
  <p>
    For Toros, only half this statement was true.
    “It is impossible to imitate a text,” he wrote to me,
    “because the totality of possible imitations exceeds human patience.”
    In other words, there are many ways, <em>near</em> infinite, in which a text can be imitated,
    which makes the task too difficult for someone to definitively complete.
    When we talk of transformation, we mean to take a text and modify it in some way so as
    to produce something inspired by the original but altogether new. When we talk of imitation,
    we mean to take a text and generalize its style, reducing it to a genre whose predecessor
    we can identify. But we can imitate a text, Toros argued, if we stop thinking about it
    in terms of its literal words. “Think of Theseus and his ship,” he wrote.
    “If one rotten plank is removed and replaced with fresh timber, do we not still call
    the ship his? And if, over the years, every plank is replaced, is the ship not still
    the same?” Toros believed that there was another word already available to capture the
    notion of imitating a text: translation, or the act of finding words from one language
    that closely matched another. Genette himself “devotes barely four pages” on the subject
    and considers translation to simply be a subform of textual transformation.
  </p>
  <p>
    “But how can this be?” Toros demanded. “Earlier in his argument, Genette explains that
    textual transposition can be considered as the ‘lifting’ of one element of a text
    (character, plot, etc.) into another; thus, Mann’s Faustus from Goethe, Joyce’s Bloom from Homer.
    Yet, in translation, <em>the underlying signifier in the source text is changed while its meaning remains</em>.
    And, when we are engaged in a reading of a translation, each printed word is a shadow of all the words that could have been.
    Genette states — rightly! — that ‘every act of translation affects the meaning of the translated text.’
    It stands to reason, then, that translation is not a strict transference
    (any word in one language cannot simply be substituted for one in another language),
    but neither is it distortion. A translation exists as a unique form of imitative hypertext,
    one which, in the act of crossing languages, both is and is not its own hypotext.<sup class="footnote"><span data-tooltip="Toros inadvertently reminds me of Joyce here: “He proves by algebra that Hamlet's grandson is Shakespeare's grandfather and that he himself is the ghost of his own father.”">2</span></sup>
    Because there are so few direct equivalencies between languages, and so many ways to approximate
    one sentence for another, the possibilities for imitation appear unbounded (to a very distant limit).
    A <em>perro</em>, for example, is a dog, but it’s also a canine, a hound, a pooch, and a mutt.
    Are these not all imitations (of varying efficacy)?”
  </p>
  <p>
    That is what Toros strove to prove by creating <em>A Borgesian Contraption</em>.
    Whether he ever completed his vision or is still laboring on it, I don’t know.
    In his e-mail, he attached the source code without any explanation for how it works,
    although he did give me permission to post it online as a sort of draft, which I’ve done.
    I’ll try to convey my understanding of it.
  </p>
  <p>
    It should no longer feel like outlandish science fiction to imagine a computer program which
    can “predict” your next action and subconscious desires. Over the last thirty years,
    we’ve seen such systems integrated (willingly or not) across our lives: in shopping
    advertisements that follow us on each website we visit, from prompts to watch a new movie
    based on our streaming habits, and even through recommendations for who we might best become
    friends with. All of the activities you perform online are ingested and analyzed into a sort
    of recorded history; based on your past choices, these programs simply suggest your most likely
    outcome. Generative text systems are not so different. Given a substantial volume of text to study
    (or train on, in machine learning parlance), if a program is given a phrase, it can predict the
    words that should follow, based on their probability of previous uses. For example, after prompting
    a system which has only trained on children's fairy tales with the phrase “Once upon a,” it’s
    exceedingly likely for it to continue the sentence with the word “time.” With this understanding
    in mind, I can see the connection to translation which Toros is attempting to conjure.
    If a certain well-known phrase of, say, Tolstoy, is translated from Russian into English,
    subsequent translations of other Russian works which harken back to Tolstoy may need to repeat
    that same translation, in order to evoke the same reference for the English reader.
  </p>
  <p>
    <em>A Borgesian Contraption</em> is a system which has been fed nearly all the short
    stories of Borges (in English). Its “brain” — the underlying software which reads, parses,
    evaluates, and responds to prompts — is able to take a starting sentence and continue crafting
    a story that resembles something Borges might have written. Although one could have a computer
    generate a story on its own, this was not Toros’ goal: “To have a machine produce text endlessly
    is not in and of itself interesting. It could, of course, generate texts which contain every
    possible permutation of English words — but then these would cease to be stories and become
    Babelian gibberish. <em>A Borgesian Contraption</em> begins to write a text of its own,
    but it is intentionally halted, in order for a human to intervene and provide his or her own
    opinion on how the text should continue. It is the <em>collaboration</em> between a
    machine/author and its user/reader which is what makes the project special.
    The work-in-progress is a machine translation in the loosest sense, an interpretation of
    Borges whereby a machine decides, with capricious neutrality, what word to place next,
    tempered by the aesthetic sensibilities of a reader. Such a union is, I believe, vital
    for understanding our relationship with literature in the future:
    ‘If we would like to believe in our own creativity or freedom, the challenge is to think
    it together with the machine.’”
  </p>
  <p>
    Why Borges? Most obviously, the author’s interest in the infinite and the permeability of
    readings pair well with the project’s generative qualities. (Toros certainly believed his
    imaginary books “mesh into a unifying metaphor of the complex and ambiguous relationships
    between writing and reading: relationships…that are quite evidently the very soul of
    hypertextual activity.”) Still, it would be the wrong question to ask. For Toros, it was
    Borges’ translator, Norman Thomas di Giovanni, who interested him more. <em>A Borgesian Contraption</em>
    is not trained on <em>all</em> of Borges’ translated works, but only those which came from
    di Giovanni, who, although not Borges’ first English translator, was certainly his most
    favored and most prolific.<sup class="footnote"><span data-tooltip="“Borges’s collaborations with di Giovanni are strange, loose translations that demonstrate more about the pair’s theory of translation than they do about the original work. Borges was notorious, when translating other authors, for his creative infidelity, and was no more faithful to his own writing (on this theme, see Efraín Kristal’s Invisible Work: Borges and Translation).">3</span></sup>
    Many of the translations were done in collaboration with the
    author, and Borges even acknowledged that di Giovanni’s texts surpassed his own.
    “Therefore,” Toros concluded, “when we are reading Borges in English, whose words are they?
    And when a computer produces texts after reading all of di Giovanni’s translations of Borges,
    whose words are those? Is a computer producing new works through a process of distortion known
    only to it? Or is it translating a copy of the text into an imitative pattern of harmonic ones
    and zeroes?” More to the point, Toros preferred to work with an author whose opinions on translation
    were not ambiguous: “translation occupies for Borges a place of honour, a locus where experiments
    with writing can be made and new ways properly tested.”  The most intimate reason Toros
    rationalized the union of Borges and di Giovanni was due to the fact that di Giovanni’s
    texts have now fallen out of copyright, and Borges, having long since passed into the other
    world, is unable to dispute with publishers who want to produce new versions of his texts
    (presumably for profit over fidelity). “In another decade,” he wrote, “di Giovanni’s works may
    be a distant memory, as more and more translations are produced, each claiming a ‘superior truth’
    over the previous edition. (This sequence, itself Borgesian, is ironic, were it not so tragic.)
    As readers, what does it mean to witness the reconstruction of a ‘stable’ translation that has
    been blessed by its author?”
  </p>
  <p>
    Can a text be truly imitated? I’m not sure. Toros mentioned Theseus;
    I’ll draw upon Heraclitus: one cannot read the same text twice, because it is
    different every time. This makes the question moot, I suppose, not because an imitation
    is too easy or too hard but because it’s simply impossible. I would agree that categorizing
    translation as a textual transformation is an inadequate designation. If a translation <em>were</em>
    a distortion, then it would conclude that there can be varying degrees of distortion, implying
    “good/accurate” and “bad/inaccurate” versions of target texts. In my opinion, the only types
    of bad translations which can exist would be the ones in which a translator intentionally
    manipulates the source text for the sake of censorship. Even honest misinterpretations
    wouldn’t be considered “bad,” since the translator can justify their reading as they understood
    it. But I don’t wholly agree with Toros’ idea that translations operate as imitations either,
    as that implies a broader unity between multiple versions of the same text. Certainly, texts
    can be infinitely generated, but is it correct to call any random sequence of words in one
    text that happens to inadvertently match another sequence in another text an imitation? I
    suppose it all depends on what we mean by imitation. From my understanding of Genette, it’s
    to mean a text that is heavily inspired by another to the point of direct equivalence; for Toros,
    it means the potential equivalences of all possible variances of a text through translation.
    An imitation can describe an accurate copy of something: a mimic, a duplicate. But it can also
    mean a derivative, possibly inferior, object: imitating a sound, imitation leather. Perhaps
    the imitation of a text is not in its writing but in its reading, as a text only truly
    exists once it is read. The difference here, I think, is that <em>A Borgesian Contraption</em>
    relies too heavily on the idea of the infinitude of writing a text, and not enough on the
    plurality of a text’s readings.
  </p>
  <p>
    A text’s existence is distinct from its multitude of readings and interpretations, of
    which translation is just one. Every translation, by definition, can only ever be an
    approximation. I believe that the process of translation is one which can never be completed,
    or at least, can only ever be completed imperfectly, a mutable half-truth whispered by a
    perjurer to a listener eager for the fabrication. My favorite way to understand how a
    translation is produced and interpreted comes from Kate Briggs: “when it comes to writing
    and reading translations the question…of what was really said or written, gets suspended,
    slightly. The translator asks me to agree to its suspension. To suspend, or to suspend
    even further, my disbelief.”  The translator attempts, through their translation, to
    imitate a reading of a source text and its style; the reader knows that the target
    text is not something which can be considered authentic. To read <em>A Thousand and One Nights</em> or
    <em>The Odyssey</em> in languages other than their original is to willfully participate in a conspiracy,
    a duplicitous secret which both the translator and reader share silently. The phrase
    “traduttore, traditore” comes to mind, which has been translated from Italian as
    “translators, traitors” — but a translator’s treason is only acknowledged when it is read.
  </p>
</section>
