<section class="wrapper section">
  <div class="columns is-mobile is-centered">
    <div class="column">
      <p id="holder" class="has-text-black is-size-5">
        A Borgesian Contraption is a never-ending story generating machine.
        To use it, select a randomly generated starting prompt from the
        buttons below. The machine will generate a new text seeded by your
        choice. Periodically you will be given the opportunity to continue
        selecting new words.
      </p>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="buttons">
    <div class="columns">
      <div class="column">
        <button class="button is-size-6 bg-washed-blue is-loading start"></button>
      </div>
      <div class="column">
        <button class="button is-size-6 bg-washed-blue is-loading start"></button>
      </div>
      <div class="column">
        <button class="button is-size-6 bg-washed-blue is-loading start"></button>
      </div>
      <div class="column">
        <button class="button is-size-6 bg-washed-blue is-loading start"></button>
      </div>
      <div class="column">
        <button class="button is-size-6 bg-washed-blue is-loading start"></button>
      </div>
    </div>
  </div>
</footer>
