<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>A Borgesian Contraption</title>
    <link
      rel="icon"
      type="image/png"
      href="/images/favicon-32x32.png"
      sizes="32x32"
    />
      <link
      rel="icon"
      type="image/png"
      href="/images/favicon-16x16.png"
      sizes="16x16"
    />
        <meta property="og:title" content="A Borgesian Contraption" />
        <meta property="og:locale" content="en" />
        <meta
      name="description"
      content="A Borgesian Contraption is a never-ending story generating
    machine."
    />
          <meta
      property="og:description"
      content="A Borgesian Contraption is a never-ending story generating
    machine."
    />
            <meta property="og:url" content="https://aborgesiancontraption.net" />
            <meta property="og:site_name" content="A Borgesian Contraption" />
            <meta
      property="og:image"
      content="https://aborgesiancontraption.net/images/card.png"
    />
              <meta property="og:type" content="website" />
              <meta name="twitter:card" content="summary" />
              <meta name="twitter:site" content="@gjtorikian" />
              <meta
      name="twitter:image"
      content="https://aborgesiancontraption.net/images/card.png"
    />
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
                <link
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
      rel="stylesheet"
    />
                  <link href="/css/main.css" rel="stylesheet" />
                  <script defer src="/js/main.js"></script>
                </head>
                <body>
                  <div class="image-holder">
                    <a href="https://www.gjtorikian.com/">
                      <img src="https://www.gjtorikian.com/assets/images/symbol.png" />
                    </a>
                  </div>
                  <nav id="navbar" class="bd-navbar navbar has-shadow is-spaced">
                    <div>
                      <div class="navbar-brand">
                        <h1 class="name"><a class="has-text-black is-underlined" href="/">A Borgesian Contraption</a><sup id="counter"></sup></h1>
                      </div>
                    </div>
                    <div class="navbar-end">
                      <div class="navbar-item">
                        <div class="links">
                          <a href="/about">
                            What is this?
                          </a>
                          <a href="https://github.com/gjtorikian/a-borgesian-contraption">
                            Source code
                          </a>
                        </div>
                      </div>
                    </div>
                  </nav>
                  <%= yield %>
                </body>
              </html>
